@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {

  background-color: #111111;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: rotate 15s linear infinite;
}

.brand-cyan { color: #00FFFF; }
.brand-blue { color: #0D7EFF; }
.brand-calm-blue { color: #0CADE8; }
.brand-calm-green { color: #0CE8AA; }
.brand-green { color: #0DFF76; }

/* Custom utility to hide the scrollbar for the horizontal component */
.hide-scrollbar {
  /* For Webkit browsers (Chrome, Safari, Edge) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Hides the scrollbar track and thumb for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}